{% layout "layout.liquid" %} {% block content %}
<div>
  <a href="/products/new"><button>Add Product</button></a> -->
  {% for product in products %}
  <article>
      <img src="{{ product.image }}"alt="product" width="200px">

    <a href="/products/{{ product._id }}">
        <h3>

        {{ product.title }}
        
       </h3>

       <br />
       Price: ${{ product.price }} 

            <br />

            {{ product.qty }} in Stock

            <br />

            
    </a>
  </article>
  {% endfor %}
</div>
{% endblock %}
