{% layout "layout.liquid" %} {% block content %}
<div>
  {% for product in products %}
  <article>
      <img src="{{ product.image }}"alt="product" width="200px">
    <a href="/products/{{ products._id }}">
        <h3>
        {{ product.title }}
        
       </h3>
            ${{ product.price }} 
            {{ product.qty }}
    </a>
  </article>
  {% endfor %}
</div>
{% endblock %}
